/* Global Styling */
body {
    margin: 0 auto;
    font-family: "Comic Sans MS",
        "Comic Sans",
        cursive;
    font-size: 14px;
    font-weight: 700;
    /* display: flex; */
    /* max-width: 20em; */
    background: #0c343e;
    overflow: auto;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

header {
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    position: sticky;
}

h1 {
    color: rgb(9, 0, 69);
    font-family: "Comic Sans MS",
        "Comic Sans",
        cursive;
    /* text-shadow: 2px 2px 5px rgb(40, 40, 40); */
}

p {
    color: rgb(9, 0, 69);
    font-weight: 100;
}

p a {
    text-decoration: none;
    color: rgb(9, 0, 69);
    border-bottom: 2px solid transparent;
    transition: 0.3s;
}

p a:hover {
    color: rgb(9, 0, 69);
    /* border-bottom: 2px solid rgb(9, 0, 69); */
    border-bottom: 2px solid #12c2e9;
    transition: linear 0.3s;
}

section.right {
    background: #12c2e9;
    background: -webkit-linear-gradient(340deg, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(340deg, #f64f59, #c471ed, #12c2e9);
    box-shadow: 2px 2px 15px rgb(60, 60, 60);
    margin-top: -15px;
    border-radius: 0px;
    min-height: 96vh;
    width: 45vw;
    padding: 10px 0 20px 0;
    float: right;
}

/* Input/Form Styling */
label {
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin: 0 auto;
    max-width: 40vw;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: rgb(9, 0, 69);
    text-align: left;
    margin-top: 15px;
    padding-left: 20px;
}

input {
    display: block;
    margin: 5px auto 10px;
    width: 40vw;
    height: 30px;
    justify-content: center;
    background: transparent;
    border: 0.4px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    padding-left: 20px;
    transition: 0.2s;
    transform: translateZ(0)
}

input:hover {
    box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.2);
    background: rgba(208, 208, 208, 0.12);
    transition: all 0.3s;
    transform: translateZ(0)
}

input:active {
    border: 1px solid rgb(63, 63, 63);
    background: rgba(160, 160, 160, 0.18);
    transform: translateZ(0)
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid rgb(67, 161, 246);
    border-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
    border-image-slice: 1;
    background: rgba(53, 53, 53, 0.18);
    box-shadow: 7px 15px 17px rgba(0, 0, 0, 0.2);
    color: #0c343e;
    transform: scale(1.02) perspective(1px);
    backface-visibility: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: rgba(9, 0, 69, 0.5);
    font-size: 1.2em;
    padding-top: 10px;
}

button {
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 150px;
    justify-items: left;
    padding: 10px;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid black;
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.2s;
}

button:hover {
    box-shadow: 3px 10px 12px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: all 0.3s;
}

button:focus {
    border: 1px solid rgb(51, 255, 19);
    background: rgba(0, 0, 0, 0.2);

    transform: scale(1);
}

button:active {
    transform: scale(0.9);
    box-shadow: 0px 0px 0px rgb(51, 255, 19);
}

/* Meme Styling */
.meme-div {
    display: inline-block;
    margin: 5px 8px;
    position: relative;

}

.remove {
    color: #104350;
    transition: linear 0.2s;
    margin-top: 10px;
}

.remove:hover {
    color: #f64f59;
    transition: linear 0.3s;
}

.new-meme {
    color: white;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 28px;
    margin: 2px 0 0;
}

.top,
.bottom {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px 5px 10px;
    z-index: 9000;
    line-height: 30px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

#meme-wrapper {
    line-height: 0;
    column-count: 3;
    column-gap: 0px;
    margin: 15px 8px;
    padding-bottom: 35px;
}

#meme-wrapper img {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    #meme-wrapper {
        column-count: 3;
    }
}

@media (max-width: 1000px) {
    #meme-wrapper {
        column-count: 2;
    }
}

@media (max-width: 800px) {
    #meme-wrapper {
        column-count: 1;
    }
}